:root {
  --b2: 91.8003% 0.0186 123.72;
  --b3: 84.8906% 0.0172 123.72;
  --bc: 19.742% 0.004 123.72;
  --p: 58.92% 0.199 134.6;
  --b1: 98.71% 0.02 123.72;
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  color: oklch(var(--p));

  position: relative;
}

header {
  height: 4rem;
  background-color: oklch(var(--b1));
  display: flex;

  & nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2rem;

    & > a > img {
      height: 4rem;
      width: auto;
    }

    & > button {
      display: none !important;

      @media only screen and (max-width: 480px) {
        display: block !important;
      }
    }

    & ul {
      display: flex;
      gap: 2rem;
      padding: 0;
      justify-content: space-between;

      &.active {
        display: flex;
      }

      @media only screen and (max-width: 480px) {
        flex-direction: column;
        display: none;
        align-self: start;
        gap: 1rem;
        margin-top: -1rem;

        background: oklch(var(--b2));
        border-radius: 1rem;
        overflow: hidden;
        padding: 1rem;
        z-index: 100;
      }

      & li {
        list-style: none;
        & a {
          text-decoration: none;
          color: oklch(var(--bc2));
          text-transform: capitalize;
          font-weight: 600;
        }
      }
    }
  }
}

form {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 0.5rem;

  padding: 1rem;

  background-color: oklch(var(--b1));

  border-radius: 1rem;
  border: 2px solid oklch(var(--p));

  & > label {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    font-weight: 600;

    & > input {
      border-radius: 0.5rem;
      border: none;
      padding: 1rem;
      outline: 1px solid oklch(var(--p));
      font-weight: 600;
    }
  }

  & > h3 {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin: 1rem;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }
}

.admin {
  gap: 2rem;

  & > form {
    justify-content: space-between;
  }

  @media only screen and (max-width: 480px) {
    flex-direction: column !important;
    padding: 2rem 1rem;
  }
  @media only screen and (max-width: 1024px) {
    flex-direction: column !important;
    padding: 2rem 1rem;
  }
}

@media only screen and (max-width: 480px) {
  iframe {
    height: 350px;
    width: 390px;
  }
  & main {
    padding: 2rem 1rem;
  }
}

.register,
.login {
  justify-content: center;
  align-items: stretch;
  border: 3px solid oklch(var(--p));
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  overflow: hidden;
  border-radius: 1rem;
  height: 30rem;
  width: 45rem;

  & > img {
    @media only screen and (max-width: 480px) {
      display: none !important;
    }
    flex: 1;
    height: 100%;
    object-fit: cover;
  }
  & > form {
    width: 100%;
    border: none;
  }
}
.cart {
  & > p {
    text-align: center;
  }

  & > ul {
    padding: 0;
  }
  & > h1 {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin: 1rem;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }
  & > button {
    width: 100%;
    height: 4rem;
    border: 2px solid oklch(var(--p));
  }

  & li {
    display: flex;
    height: 10rem;
    border: 2px solid oklch(var(--p));
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    overflow: hidden;

    height: 12rem;
    @media only screen and (max-width: 480px) {
      height: 8rem;
    }

    & > img {
      @media only screen and (max-width: 480px) {
        height: 100%;
        width: 5rem;
      }
      width: 10rem;
      height: 100%;
      object-fit: cover;
    }
    & > div {
      padding: 0.5rem;
      flex: 1;
      display: flex;
      & > div {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        & > * {
          margin: 0;
        }
        & button {
          width: 100%;
          height: 2rem !important;
        }
      }
      & > div:nth-child(2) {
        justify-content: center;
        gap: 0.5rem;
      }
    }
  }
}
.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & > h1 {
    text-align: center;

    font-size: 4rem;
    font-weight: 700;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }

  & > p {
    font-size: 1.5rem;
    font-weight: 400;
  }
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.products {
  justify-content: center;
  & ul {
    padding: 0;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-gap {
  gap: 2rem;
}
.flex-end {
  justify-content: flex-end;
  align-items: end;
}

.p-1 {
  padding: 1rem;
}

.hidden {
  display: none !important;
}
.xm-auto {
  margin-left: auto;
  margin-right: auto;
}

.container {
}
.container {
  width: 100%;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 8rem);
  background-color: oklch(var(--b1));

  & > section {
    & > .welcome-msg {
      font-size: 4rem;
      font-weight: 700;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    }
    & > .welcome-paragraph {
      font-size: 1.5rem;
      text-align: center;
      color: oklch(var(--bc) / 0.5);
    }
  }
}

footer {
  height: 4rem;
  background-color: oklch(var(--b1));
  display: flex;
  justify-content: center;
  align-items: center;
  color: oklch(var(--bc));
}

.button {
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  -webkit-tap-highlight-color: transparent;
  color-scheme: light;
  box-sizing: border-box;
  border-style: solid;
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  margin: 0;
  padding: 0;
  text-transform: none;
  -webkit-appearance: button;
  background-image: none;
  display: inline-flex;
  height: 3rem;
  min-height: 3rem;
  flex-shrink: 0;
  cursor: pointer;
  user-select: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-radius: var(--rounded-btn, 0.5rem);
  border-color: oklch(var(--btn-color, var(--b2)) / 1);
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  font-size: 0.875rem;
  line-height: 1em;
  gap: 0.5rem;
  font-weight: 600;
  text-decoration-line: none;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  border-width: var(--border-btn, 1px);
  animation: button-pop var(--animation-btn, 0.25s) ease-out;
  transition-property: color, background-color, border-color, opacity,
    box-shadow, transform;
  color: var(--fallback-bc, oklch(var(--p) / 1));
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  outline-color: var(--fallback-bc, oklch(var(--bc) / 1));
  background-color: oklch(var(--btn-color, var(--b2)) / 1);
}

.button:hover {
  background-color: oklch(var(--btn-color, var(--b3)) / 0.9);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  border: 2px solid oklch(var(--p));
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  width: 20rem;
  height: 32rem;
  overflow: hidden;

  & > img {
    min-height: 20rem;
    max-height: 20rem;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
    border-bottom: 2px solid oklch(var(--p));
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  }

  & > .card-body {
    flex: 1;
    background-color: oklch(var(--b1));
    padding: 1rem;
    display: flex;
    flex-direction: column;

    & > h2 {
      font-size: 1.5rem;
      font-weight: 700;
    }

    & > p {
      font-size: 1rem;
      font-weight: 400;
    }
    & > .wrapper {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;

      & > .price {
        font-size: 1.5rem;
        font-weight: 700;
        margin: 0;
      }

      & > button {
        max-height: 2rem;
        min-height: 2rem;
      }
    }
  }
}
